/BuyerCreateOfferPage.class
/BuyerHomePage.class
/BuyerViewItemPage.class
/BuyerViewPurchaseHistoryPage.class
/BuyerViewWishListPage.class
/BuyerViewWishListPage$1.class
/BuyerViewWishListPage$2.class
